.header{
    -fx-background-color: linear-gradient(blue,lightblue);
    -fx-padding: 10 20;
}
.headerlink{
    -fx-text-fill: lightgray;
    -fx-border-width: 0;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 5;
}
.headerlink:hover{
    -fx-background-color: aliceblue;
    -fx-background-radius: 5;
    -fx-text-fill: navy;
    -fx-underline: false;
}
.headerlink:armed{
    -fx-background-color: lightgray;
    -fx-background-radius: 5;
    -fx-text-fill: navy;
    -fx-underline: false;
}
.headerlink:visited{
    -fx-underline: false;
}
.login_form{
    -fx-padding: 30px 25px;
}
.login_field{
    -fx-alignment: center
}
.login_error_field{
    -fx-border-color: red;
    -fx-alignment: center;
    -fx-border-radius: 3;
}
.search_form {
    -fx-padding: 30px 25px;
    -fx-alignment: top-center;
    -fx-max-width: 350;
}
.registration_form{
    -fx-background-color: linear-gradient(navy,blue,lightseagreen,lightblue,aliceblue);
    -fx-alignment: center;
    -fx-padding: 30px 25px;
}
.error_registration_radio > .radio{
    -fx-background-color: palevioletred;
}
.error_registration_cbox{
    -fx-background-color: palevioletred;
}
.error_registration_text{
    -fx-background-color: palevioletred;
}
.registration_error_label{
    -fx-padding: 30;
    -fx-text-fill: darkred;
    -fx-font-weight: bold;
}
.link_delete_account{
    -fx-text-fill: red;
    -fx-underline: false;
    -fx-font-weight: bold;
}
.link_delete_account:armed{
    -fx-border-width: 0;
    -fx-text-fill: darkred;
    -fx-underline: false;
}
.link_delete_account:visited{
    -fx-border-width: 0;
}
.new_post{
    -fx-border-width: 2;
    -fx-padding: 15px;
    -fx-text-alignment: left;
    -fx-fill: dimgrey;
    -fx-min-width: 200px;
    -fx-max-height: 150px;
}
.timeline{
    -fx-padding: 15px 20px;
    -fx-min-width: 450;
}
.timeline_for_non_users{
    -fx-padding: 15px 20px;
    -fx-min-width: 0px;
}
.list_of_posts {
    -fx-padding: 0px ;
    -fx-background-color: transparent ;
}
.list_of_posts .list-cell {
    -fx-padding: 5px ;
    -fx-background-color: transparent, -fx-background ;
    -fx-background-insets: 2px, 2px ;
}
.list_of_posts .list-cell:empty {
    -fx-padding: 2px ;
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
.post_link{
    -fx-underline: false;
    -fx-text-fill: blue;
}
.post_link:armed{
    -fx-underline: false;
    -fx-font-weight: bold;
    -fx-border-width: 0px;
    -fx-text-fill: blue;
}
.post_link:visited{
    -fx-underline: false;
    -fx-border-width: 0px;
    -fx-text-fill: blue;
}
.profile_name{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: navy;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 5;
}