.header{
    -fx-background-color: linear-gradient(blue,lightblue);
    -fx-padding: 10 20;
}
.headerlink{
    -fx-text-fill: lightgray;
    -fx-border-width: 0;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 5;
}
.headerlink:hover{
    -fx-background-color: aliceblue;
    -fx-background-radius: 5;
    -fx-text-fill: navy;
    -fx-underline: false;
}
.headerlink:armed{
    -fx-background-color: lightgray;
    -fx-background-radius: 5;
    -fx-text-fill: navy;
    -fx-underline: false;
}
.headerlink:visited{
    -fx-underline: false;
}
.login_form{
    -fx-padding: 30px 25px;
}
.login_field{
    -fx-alignment: center
}
.login_error_field{
    -fx-border-color: red;
    -fx-alignment: center;
    -fx-border-radius: 3;
}
.search_form {
    -fx-padding: 30px 25px;
    -fx-alignment: top-center;
    -fx-max-width: 350;
}
.registration_form{
    -fx-background-color: linear-gradient(navy,blue,lightseagreen,lightblue,aliceblue);
    -fx-alignment: center;
    -fx-padding: 30px 25px;
}
.error_registration_radio > .radio{
    -fx-background-color: palevioletred;
}
.error_registration_cbox{
    -fx-background-color: palevioletred;
}
.error_registration_text{
    -fx-background-color: palevioletred;
}
.registration_error_label{
    -fx-padding: 30;
    -fx-text-fill: darkred;
    -fx-font-weight: bold;
}
.new_post{
    -fx-padding: 15px;
    -fx-text-alignment: left;
    -fx-fill: dimgrey;
    -fx-min-width: 200px;
    -fx-max-height: 150px;
}
.timeline{
    -fx-padding: 30px 25px;
}
.link_delete_account{
    -fx-text-fill: red;
    -fx-underline: false;
    -fx-font-weight: bold;
}
.link_delete_account:armed{
    -fx-border-width: 0;
    -fx-text-fill: darkred;
    -fx-underline: false;
}
.link_delete_account:visited{
    -fx-border-width: 0;
}