.header{
    -fx-background-color: linear-gradient(blue,lightblue);
    -fx-padding: 10 20;
}
.headerlink{
    -fx-text-fill: lightgray;
    -fx-border-width: 0;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 5;
}
.headerlink:hover{
    -fx-background-color: aliceblue;
    -fx-background-radius: 5;
    -fx-text-fill: navy;
    -fx-underline: false;
}
.login_form{
    -fx-padding: 25;
}
.login_field{
    -fx-alignment: center
}
.login_error_field{
    -fx-border-color: red;
    -fx-alignment: center;
    -fx-border-radius: 3;
}

.search_form{
    -fx-padding: 30px 15px;
    -fx-alignment: top-center;
    -fx-max-width: 350;
}
.date-picker > .arrow-button {
    -fx-padding: 0px;
}

.date-picker > .arrow-button > .arrow {
    -fx-padding: 0px;
}
.date-picker > .date-picker-display-node {
    -fx-background-insets: 1 1 1 1;
}

.registration_form{
    -fx-background-color: navy;
    -fx-alignment: center;
    -fx-padding: 30px;
}
.error_registration_radio > .radio{
    -fx-background-color: palevioletred;
}
.error_registration_cbox{
    -fx-background-color: palevioletred;
}
.error_registration_text{
    -fx-background-color: palevioletred;
}
.username_taken{
    -fx-fill: white;
    -fx-font-weight: bold;
}